.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #0f98f3;
    }
    .table1 tr th{
    background: #ee104b;
    color: #1645df;
    font-weight: normal;
    }
    .table1, th, td {
    padding: 8px 20px;
    text-align: center;
    }
    .table1 tr:hover {
    background-color: #088fd3;
    }
    .table1 tr:nth-child(even) {
    background-color: #f68e0e;
    }